<%= link_to "/", class: 'logo' do%>
<%end%>
<section id="thumbnails">
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/01.jpg'%>" data-position="left center"><%=image_tag 'thumbs/01.jpg'%></a>
        <h2>La belleza en la profundidad</h2>
        <p>Una solitaria medusa flota en las aguas cristalinas del... <br>
        <%=link_to "Ver más", imagen_01_path %>
        </p>

    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/02.jpg'%>"><%=image_tag 'thumbs/02.jpg'%></a>
        <h2>Protegido de la tormenta</h2>
        <p>En un fotomontaje lleno de creatividad, un hombre... <br>
        <%=link_to "Ver más", imagen_02_path %>     
        </p>

    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/03.jpg'%>" data-position="top center"><%=image_tag 'thumbs/03.jpg'%></a>
        <h2>Productividad moderna</h2>
        <p>La elegante MacBook Air se encuentra sobre... <br>
        <%=link_to "Ver más", imagen_03_path %>        
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/04.jpg'%>"><%=image_tag 'thumbs/04.jpg'%></a>
        <h2>Magia en cascada</h2>
        <p>En un cañón estrecho, las cascadas se despliegan... <br>
        <%=link_to "Ver más", imagen_04_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/05.jpg'%>" data-position="top center"><%=image_tag 'thumbs/05.jpg'%></a>
        <h2>Sinfonía analógica</h2>
        <p>Un primer plano cautivador captura la aguja de un moderno... <br>
        <%=link_to "Ver más", imagen_05_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/06.jpg'%>"><%=image_tag 'thumbs/06.jpg'%></a>
        <h2>Vida en detalle</h2>
        <p>Una hoja resplandeciente se destaca en primer... <br>
        <%=link_to "Ver más", imagen_06_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/07.jpg'%>"><%=image_tag 'thumbs/07.jpg'%></a>
        <h2>Misterio en el bosque</h2>
        <p>Un bosque se despliega con árboles delgados que... <br>
        <%=link_to "Ver más", imagen_07_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/08.jpg'%>"><%=image_tag 'thumbs/08.jpg'%></a>
        <h2>Armonía vintage</h2>
        <p>Un primer plano sepia verdoso revela el delicado... <br>
        <%=link_to "Ver más", imagen_08_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/09.jpg'%>"><%=image_tag 'thumbs/09.jpg'%></a>
        <h2>Dulce tentación</h2>
        <p>Un plano detallado muestra un exquisito postre de fresas... <br>
        <%=link_to "Ver más", imagen_09_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/10.jpg'%>"><%=image_tag 'thumbs/10.jpg'%></a>
        <h2>Cumbres nevadas</h2>
        <p>En la distancia, majestuosas montañas se alzan entre... <br>
        <%=link_to "Ver más", imagen_10_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/11.jpg'%>"><%=image_tag 'thumbs/11.jpg'%></a>
        <h2>Magia del atardecer</h2>
        <p>Con un cielo teñido de naranjas y amarillos intensos, el... <br>
        <%=link_to "Ver más", imagen_11_path %>
        </p>
        
    </article>
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/12.jpg'%>"><%=image_tag 'thumbs/12.jpg'%></a>
        <h2>Simplicidad perfecta</h2>
        <p>Una vista cenital revela una taza blanca de café... <br>
        <%=link_to "Ver más", imagen_12_path %>
        </p>
        
    </article>
</section>